* {
    border: 1px solid red;
    margin: 0;
}

h1 {
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 5px 5px;;
    width: 300px;
    margin: auto;
  }
  
  .grid-item {
    width: 100px;
    height: 100px;
    margin: 0;
    background-color: black;
  }

  #reset {
      background-color: rgb(31, 182, 94);
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
  }
